*{
  font-family: 'Prompt', sans-serif;
  font-family: 'Varela Round', sans-serif;
}
.wrap{
  width: 100%;
  height: 100vh;
  background-color: #313552;
}
.box{
  border-radius: 20px;

  margin-top: 110px;
  background-color: azure;
  width: 100%;
  height: 520px;
}
.poke-container{
  overflow: hidden;
  overflow-y: scroll;
  align-content: center;
  width: 100%;
  height: 360px;
}
.pokemon-tile{
  transition: 0.2s;
  border: 1px solid #0067a5;
  width: 350px;
  border-radius: 20px;
  background-color: azure;
  height: 50px;
}
.pokemon-tile:hover{
  transition: 0.2s;
  border: 1px solid #0067a5;
  width: 390px;
  border-radius: 20px;
  background-color: azure;
  height: 50px;
}
.data-container{
  margin-top: 180px;
  margin-left: 100px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #bc5a45;
  background-color: azure;
  height: 450px;
  width: 770px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track{
  border-radius: 20px;
  background-color: #0067a5;
  width:15px;
}
::-webkit-scrollbar-thumb{
  background-color: #ffd300;
  border-radius: 20px;
}


