<div class="box container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <p class="es">
        ?
      </p>
    </div>
    <div class="col-sm-8">
      <p class="title">WHAT YOU NEED TO KNOW ABOUT ME</p>
      <p class="sub-title">
        Here's a short description about me.
      </p>
    </div>
  </div>
</div>
<div class="second-sec container-fluid">
   <div class="row">
     <div class="col-sm-5">
      <p class="title2">
        Education
      </p>
      <p class="sub-title2">
        STI-West Negros University
      </p>
      <p class="course">
        Bachelor of Science in Information and Technology
      </p>
      <p class="date">
        2016 - 2020
      </p>
     </div>
     <div class="col-sm-7">
      <img style="margin-top: 150px; margin-left: 80px ;" src="../assets/stiwnu1.png" alt="">
     </div>
   </div>
</div>
<div class="third-sec container-fluid">
  <div class="row">
    <div class="col-sm-7">
      <img style="height: 70vh; width: 100%;" src="../assets/sv.jpg" alt="">
    </div>
    <div class="col-sm-5">
      <p class="title3">
        Career
      </p>
      <p class="sub-title3">
        Spring Valley
      </p>
      <p class="course2">
        Software Developer Intern
      </p>
      <p class="date2">
        2021
      </p>
    </div>
  </div>
</div>
<div class="fourth-sec container-fluid">
  <div class="">  
    
  </div>
</div>


<!--
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
        <img style='height: 100%; width: 100%; object-fit: contain' src="/assets/rey-removebg.png" alt="">
    </div>
    <div class="col-sm-8 mt-5">
      <h1 style="color: #484D6D;">About me</h1>
      <p class="mt-5" style="color: #484D6D;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus doloribus quia perferendis itaque minima distinctio cupiditate aliquam ratione quod? Quaerat labore reprehenderit corrupti cumque ad aut molestiae at similique tempore vel repellendus minima, optio accusantium, qui eum consectetur nostrum. Sequi assumenda cum consequatur eos quam molestias alias eveniet ex quis!
      </p>
    </div>
</div> -->
