<div class="container-fluid bg">
  <div class="row">
    <div class="d-flex justify-content-around">
      <div class="box1">
        <img style='bottom: 110px; position: relative; height: 50vh; width: 100%;' src="../assets/transactions.svg" alt="">
        <div class="d-flex justify-content-center">
          <h3>Mini POS</h3>
        </div>
        <div class="d-flex justify-content-center">
            <div routerLink="/data" class="btn mt-5 button">Try</div>
          </div>
      </div>
      <div class="box2">
        <img style='bottom: 110px; position: relative; height: 50vh; width: 100%;' src="../assets/gaming.svg" alt="">
        <div class="d-flex justify-content-center">
          <h3>Pokedex</h3>
        </div>
        <div class="d-flex justify-content-center">
            <div routerLink="/pokedex" class="btn mt-5 button">Try</div>
          </div>
      </div>
      <div class="box3">
        <img style='bottom: 110px; position: relative; height: 50vh; width: 100%;' src="../assets/iteration.svg" alt="">
        <div class="d-flex justify-content-center">
          <h3>Product Listing</h3>
        </div>
        <div class="d-flex justify-content-center">
            <div routerLink="/poems" class="btn mt-5 button">Try</div>
          </div>
      </div>
    </div>

  </div>
</div>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
