<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 right-home">
      <div class="row up">

      </div>
      <div class="row bot align-center">
        <p class="par1">
          Software Developer Intern
          Spring Valley
        </p>
        <p class="par">
          Rey Fred Belediano
        </p>
      </div>
    </div>
    <div class="col-sm-6 left-home">

      <img style='left: 140px; top: 150px; position: relative; height: 400px; width: 400px;'
        src="../assets/undraw_feeling_proud_qne1.svg" alt="working">

    </div>
  </div>
</div>
